.animate-debug-enter {
    transform: translateX(-100%);
  }
  .animate-debug-enter-active {
    transform: translateX(0px);
    transition: all 0.3s ease-in-out;
  }
  .animate-debug-exit {
    transform: translateX(0px);
    transition: all 0.3s ease-in-out;
  }
  .animate-debug-exit-active {
    transform: translateX(-100%);
  }
