.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "weather-icon current-temp stats"
  "description description description"
}

.current-temp {
  grid-area: current-temp;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(55px, 5.0vw, 72px);
}

.icon-container {
  grid-area: weather-icon;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-icon {
  font-size: clamp(45px, 4.2vw, 60px);
}

.description {
  grid-area: description;
  font-size: clamp(14px, 1.3vw, 18px);
}

.stats {
  grid-area: stats;
  font-size: clamp(14px, 1.3vw, 18px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.stat-item {
  display: flex;
}

.stat-item > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 25px;
}

.uvi-label {
  font-size: clamp(12px, 1.1vw, 15px);
}

.text-unit {
  display: flex;
  align-items: baseline;
}

.text-unit > div:last-child {
  margin-left: 2px;
  font-size: clamp(8px, 0.7vw, 11px);
}

.temp-display {
  display: flex;
  align-items: flex-start;
}

.temp-unit {
  font-size: 0.6em;
  padding-top: 8px;
}
