.date{
    display: flex;
    justify-content: flex-end;    
    font-size: clamp(14px, 1.3vw, 18px);
}

.time{
    display: flex;
    justify-content: flex-end;
    font-size: clamp(45px, 4.2vw, 60px);
}

.sun-rise-set-container{
    display: flex;
    justify-content: flex-end;
}